.tile{
    padding: 10px;
    display: table-cell;

    background-color: blanchedalmond;


}

.snake-row{

    display: table-row;
}

.grid{
    display: table;
}

.food{
    background-color: red;
}

.snake{
    background-color: chartreuse;
}

.dir{
    width: 50px;
    height: 20px;
    background-color: cornflowerblue;
}