.tile{
    padding: 10px;
    display: table-cell;

    background-color: blanchedalmond;


}

.snake-row{

    display: table-row;
}

.grid{
    display: table;
}

.food{
    background-color: red;
}

.snake{
    background-color: chartreuse;
}